{% for host in groups['k8s-cluster'] %}
{% if hostvars[host]['inventory_hostname'] != inventory_hostname %}
{{ inventory_hostname }} {{ hostvars[host]['inventory_hostname'] }} : PSK "{{ vpn_psk }}"
{% endif %}
{% endfor %}
{% if vpn_client_psk is defined %}
{{ inventory_hostname }} %any : PSK "{{ vpn_client_psk }}"
{% endif %}